@font-face{
      font-family: 'Myriad';
      src: url('../../fonts/MYRIADPRO-BOLD.OTF');
  }
.all {
      align-items: center;
      background-image: url('../../assets/background.png');
      background-position: center;
      background-size: cover;
      display: flex;
      flex-direction: column;
      height: 100vh;
      justify-content: center;
  }
.cont {
      align-items: center;
      display: flex;
      flex-direction: column;
      height: 60%;
      justify-content: center;
      width: 60%;
  }
.text {
      background-color: #ffffff;
      border-radius: 15px;
      box-shadow: 10px 10px 20px #595959;
      padding: 8% 4% 8% 4%;
      width: 80%;
  }
.text1 {
      color: #495d5c;
      font-family: 'Myriad';
      font-size: 4rem;
      text-align: center;
  }
.nav {
      display: flex;
      justify-content: space-around;
      margin-top: 10%;
      width: 40%;
  }
.btnS {
      background-color: #41cfff;
      border: none;
      border-radius: 20px;
      color: #ffff;
      font-family:'Myriad',;
      font-size: 2rem;
      font-weight: bold;
      height: 60px;
      width: 200px;
  }
.btnN {
      background-color: #ff3a35;
      border: none;
      border-radius: 20px;
      color: #ffff;
      font-size: 2rem;
      font-weight: bold;
      height: 60px;
      width: 200px;
  }
.logo{
      height: 150px;
      margin-top: 30px;
      width: 250px;
  }

  .footer{
    width: 95%;
    display: flex;
    flex-direction: row-reverse;
  }