.bttn {
    background-color: #ffa013;
    border: none;
    color: #ffffff;
    text-align: center;
    font-weight: bold;
    font-size: 250px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    width: 200px;
}